/* CSS */
/* hover over links laat zien dat erop geclicked kan worden */

.header {
    background-color: #0091ff;
    display: flex;
    /* de header blijft op het scherm */
    position: sticky;
    align-items: center;
    /* dit haalt de 2 links uit elkaar */
    justify-content: space-between;

    height: 4em;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* de eerste link, in de header class, wordt in het midden geplaatst */
.header a:first-child {
    position: relative;
    left: 45%;
}

/* de 2de helemaal rechts */
.header a:last-child {
    margin-left: auto;
    padding-right: 1em;
}


.header_nav {
    background-color: blueviolet;
    display: flex;
    position: sticky;
    flex-direction: column;
    justify-content: space-between;
    /* width: 100%; */
    position: sticky;
    
    /* de nav begint waar de header Eindigt */
    /* top: 4em;
    left: 0;
    right: 0; */

}

ul {
    list-style: none;
}

/* dit zet de li in de nav naast elkaar en in het midden */
li {
    display: inline;
    padding: 0.5em;
    margin-left: 2%;
}

.dates {
    background-color:rgb(225, 130, 14);
    display: flex;
    
    /* links en rechts scrollen toelaten */
    overflow-y: hidden;
    overflow-x: scroll;
}

/* select de li binnen de dates class */
.dates > li {
    /* spatie tussen de dagen */
    padding: 1em;

    justify-self: flex-start;
}

main {
    display: grid;
    grid-template-columns: auto min-content;
    gap: 1em;
}

.time_table {
    grid-row: 1/-3;
}

.article {
    grid-column-start: 2;
}

.programma_card {
    /* border: 1px solid black; */
    border-radius: 1em;
    box-shadow: 0.1em 0.2em 0.2em  0.2em gray;
    /* gebruik de ruimte die nodig is, maar niet meer.(m.b.v min width op de tekst grid area) */
    max-width: fit-content;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
    "img title title"
    "img tekst tekst"
    "img footer button"
    ;
    margin: 0.5rem;
}

/* programma card indelen */
.profile_picture {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}
.title {
    grid-area: title;
}
.tekst {
    grid-area: tekst;
    max-width: 11em;
}
.footer {
    grid-area: footer;
}
.button {
    grid-area: button;
    align-self: flex-end;
}



.now_playing {
    background-color: green;
}

.footer_nav {
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}