/* CSS */

/* RESET */
* {
    box-sizing: border-box;
    margin: 0;

    list-style-type: none;
}

/* Mobile version */

/* hover over links laat zien dat erop geclicked kan worden */

/* ---------- HEADER NAV HEADER ---------- */
.header, .header_nav, .dates {
    position: fixed;
    /* zorgt ervoor dat de tijd lijn achter de header verdwijnt */
    z-index: 2;
}

.header {
    background-color: #0091ff;
    display: flex;
    align-items: center;
    /* dit haalt de 2 links uit elkaar */
    justify-content: space-between;

    height: 3em;
    width: 100%;
    
}

a {
    text-decoration: none;
    color: black;
}

/* de eerste link, in de header class, wordt in het midden geplaatst */
.header a:first-child {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

/* de 2de helemaal rechts */
.header a:last-child {
    margin-left: auto;
    padding-right: 1em;
}


.header_nav {
    background-color: #fff;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    /* de nav begint waar de header Eindigt */
    top: 3em;
    height: 2em;

}

ul {
    width: 100%;
    list-style: none;
}

/* dit zet de li in de nav naast elkaar en in het midden */
.header_nav li {
    display: inline;
    padding: 0.5em;
    margin-left: 2%;
}

.dates {
    background-color:#fff;
    display: flex;
    height: min-content;
    width: 100%;
    /* dates begint waar de nav eindigt */
    top: 5em;

    /* eerste dat start helemaal links */
    padding: 0;

    /* links en rechts scrollen toelaten */
    overflow-y: hidden;
    overflow-x: auto;
}

.dates > li:nth-of-child(5) {
    display: block;
    color: #fe0170;
}

/* select de li binnen de dates class */
.dates > li {
    display: inline;
    margin-left: 1%;
    /* spatie tussen de dagen */
    padding: 0.5em;

    text-align: center;
    /* justify-self: flex-start; */
}

/* ---------- TIME LIST + PROGRAMMA CARD ---------- */
/* row zorgt ervoor dat de ol en articles naast elkaar staan */
main {
    display: flex;
    flex-direction: row; /* Ensures the list and articles are side by side */
    align-items: flex-start; /* Aligns items at the top */
}

.time_table {
    padding: 0;
    margin: 0;

    /* de list neemt 20% van de space, met flex: 1; neemen de articles de overige ruimte */
    flex-basis: 20%;

    /* de table in beeld zetten */
    margin-top: 9em;
    margin-bottom: 9em;
    margin-left: 1em;

    display: flex;
    flex-direction: column;
    font-size: 14px;
}

.time_table li {
    position: relative;
    /* zet de lijn tussen de uren */
    display: flex;
    flex-direction: column;

    align-items: center;
}

/* after zet een lijn na elke li */
.time_table li::after {
    color: gray;

    content: "- - - - - - - - - -";
    /* maak de lijn verticaal en zet het in het midden */
    transform: rotate(90deg);
    transform-origin: center;
    /* spatie tussen de uren en lijn */
    margin-top: 3em;
    margin-bottom: 3em;

    /* alle streepjes onder elkaar */
    white-space: nowrap;

    /* zorgt ervoor dat de lijn achter de header verdwijnt */
    z-index: 1;
}

/* de laatste li krijgt geen lijn */
.time_table li:last-child::after {
    content: '';
}

/* positie van de articles */
.flex_container {
    flex: 1;
}

.programma_card {
    /* border: 1px solid black; */
    border-radius: 0.5em;
    box-shadow: 0.05em 0.05em 0.3em  0.1em gray;
    /* gebruik de ruimte die nodig is, maar niet meer.(m.b.v min width op de tekst grid area) */
    /* max-width: fit-content; */
    max-width: 18em;
    margin-right: 1em;
    margin-top: 1em;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
    "img title title"
    "img tekst tekst"
    "img info button"
    ;
}

/* de profile cards zijn in beeld */
.first_card {
    margin-top: 9.5em;
}

.last_card {
    margin-bottom: 10em;
}

/* programma card indelen */
.profile_picture {
    border-radius: 50%;
    width: 4em;
    height: 4em;
    margin: 1em;
}
.title {
    grid-area: title;
    margin-top: 1em;
}
.tekst {
    grid-area: tekst;
    max-width: 11em;
    margin-bottom: 1em;
    margin-right: 0.5em;
}
.bottom {
    grid-area: info;
}
.button {
    grid-area: button;
    align-self: flex-end;
    margin: 1em;

    background-color: #fe0170;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    /* center the arrow */
    text-align: center;
    padding: 4px;
}


/* ---------- NOW PLAYING ---------- */
.now_playing {
    background-color: #e6e3e3;
    height: 4em;
    position: fixed;
    /* now playing is vlak boven de footer */
    bottom: 4.6em;
    /* scherm=100vw, links+rechts= 3vw+3vw, 94vw blijf over voor width */
    left: 3vw;
    width: 94vw;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    /* zorgt ervoor dat de tijd lijn achter de now playing verdwijnt */
    z-index: 2;

    /* box-sizing: border-box; */
}

.now_playing > img {
    align-items: flex-start;
    margin-left: 0.5em;
    height: 3em;
    width: 3em;
    /* max-width: 5em; */
    border-radius: 10%;
}

.now_playing h2 {
    font-size: 1.2rem;
}

.now_playing p {
    margin-top: 5px;
    margin-left: 10px;
    font-size: 0.8rem;
}

.now_playing > button {
    width: 3em;
    margin-left: auto;
    margin-right: 1em;

    /* circle */
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: none;
    
    background-color: #fe0170;
    color: white;
    
    /* gebruik flex om text in de button in het midden te krijgen */
    display: flex;
    align-items: center;
    justify-content: center;
}


.song_info {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}


/* ---------- FOOTER ---------- */
.footer_nav {
    background-color: #f6f2f2;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4.5em;

    /* zorgt ervoor dat de lijn achter de header verdwijnt */
    z-index: 2;
}

.footer_nav ul {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    padding-left: 0;
}

.footer_nav li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    margin-top: 0.5em;
}

.footer_nav img {
    width: 2.5em;
    height: 2.5em;
}